body {
  font-family: Roboto;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
  display: block;
  unicode-bidi: isolate;
}

form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

main {
  padding: 30px 0;
}

a {
  color: tan;
}

.weather-app {
  background: antiquewhite;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 25px;
  width: 95%;
  border-radius: 13px;
}
.search-button {
  margin-left: -98px;
  font-size: 16px;
  background-color: tan;
  color: #f9f7fe;
  border: none;
  padding: 18px;
  line-height: 1;
  border-radius: 15px;
}

.current-weather {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  color: maroon;
}

.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details b {
  color: burlywood;
  font-size: 21px;
}

.current-details strong {
  color: burlywood;
  font-size: 14px;
}

.current-temp {
  font-size: 48px;
}

.current-temp-icon {
  position: relative;
  bottom: 12px;
  color: black;
}

.current-temp-value {
  font-size: 80px;
  font-weight: bold;
  color: maroon;
}
.current-temp-unit {
  font-size: 32px;
  position: relative;
  top: -34px;
  right: 10px;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
